SUPABASE_URL=https://fjzkneljhfibwksnpjkk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Ifjqnisqu2OcfaMVfjIGvw_F2DkEQsR
GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbx_pTqoPFNEU4nV4u-f1i1607aWLRfefN1o_bj7--bAaVRIrYiM4GkQoe8bzjqeMS61kA/exec
ADMIN_SECRET_KEY=SIMON_SEC_2026_@CHIRO_ADMIN
